/* ZERA TODOS OS ELEMENTOS COM 0 EM MARGIN E PADDING */
*
{
    margin: 0;
    padding: 0;
}
/* DÁ A ALTURA TOTAL AO DOCUMENTO */
html{ height: 100%; }
.hidden{ visibility: hidden; }
body
{
	margin: 0;
	height: 100%;
	display: block;
	overflow: hidden;
}
#index{	height: 100%; }
/* DEFINE A CAIXA COM AS IMAGENS */
div#placar
{
    background: #00aadd;
    width: 100%;/*320px;*/
    height: 100%;
    padding: 1% 0%;
    margin: 0px auto;    
}
/* DEFINE A CAIXA DA IMAGEM COM A IMAGEM */
div#placar > div
{
    background: url(../imagens/firefox.png) no-repeat center center;
    border: #ffffff 1px solid;
    width: 60px;
    height: 60px;
    float: left;
    margin: 4px 9px;
    padding: 0px;
    cursor: pointer;
    border-radius: 2px;
    -moz-transition: all ease 1s;
}
#acertou
{
    width: 40%;
    height: 30%;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 100;
    display: none;
}
/* ------------------------------------------------ */
/* CAIXA DO TÍTULO COM O BOTÃO FECHA */
#topo 
{ 
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 10; 
}
/* DEFINE O BOTÃO DE FECHAR */
span#fechar
{
	background: url(headers/images/icons/close.png) no-repeat center center;
	width: 30px;
    height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
/* */
#dvtempo
{
    width: auto;
    font-family: "cursive", sans-serif, sans-serif;
    color: #FFFFFF;
    position: absolute;
    top: 1%;
    right: 4%;
    z-index: 10;
    padding: 2px;
}
/* DEFINE O CABEÇALHO DO TÍTULO */
#topo > h2
{
	font-size: 22pt;
	color: rgb(224, 100, 0);
	text-align: center;
	text-shadow: #333 2px 2px 2px;
    margin: 6% 6%;
    -moz-animation: coresalternadas 35s infinite alternate linear;
}
/* CORES ALTERNADAS DO TÍTULO DO JOGO */
@-moz-keyframes coresalternadas
{
    0% { color: white; }
    12% { color: grey; }
    24% { color: red; }
    36% { color: orange; }
    48% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: violet; }
}
/* AJUSTA A TELA */
#iniciar
{
    margin: 2% auto;
    width: 90%;
    height: 75%;
    z-index: 5;
    position: absolute;
    top: 18%;
    left: 5%;
	cursor: pointer;
}
/* CABEÇALHO DA LISTA DE PONTOS */
#lists > h4
{
	font-size: 18pt;
	color: rgb(250, 250, 250);
	text-align: center;
	text-shadow: #000 2px 2px 2px;
    margin-bottom: 5%;
}
/* CAIXA DA LISTA DE PONTOS */
#box-list
{
    margin: 5px 10px;
    overflow-x: hidden;
    background-color: #ffffff;
    text-align: center;
    max-height: 70%;
    border-radius: 5px;
}
/* TEXTO DA LISTA */
#list-pontos, #list-pontos > ul
{
    list-style-type: decimal;
    font-size: 12pt;
	color: #444444;
    margin-left: 5px;
}
/* BOTÃO LIMPAR HISTÓRICO DE PONTOS */
section[role="region"] > .fixed > menu[type="toolbar"]
{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    float: right;
}
section[role="region"] > .fixed > menu[type="toolbar"] > .pack-icon-delete
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA85kAAImUAAB+3gAA7PgAADObAAAQ5ap9ykMAAADhSURBVHja7NY/SgNBFMfxz0oEsbTXRiw8gNYJGEglOUVO4DE8kKCg2CUXSJNKe+uEgM9miyW4sju7sCDzg4GZN8P7zsx786eICEPoyEAaDDxqMfYYE9zhGifYYo0XvGLf1FnxR4zPcVvZlQs84glvlXEzjPGAj9L2jRU+a8kR8VuZR8QuumkXEfc1/mtXvMFlD6Hc4KrNVn/1mEdnbWM8WFY/V+rTg3ZT2zQlq6sdxUG7qa3IN1cGZ3AGZ/D/By862Dq9TqlKep2WHaHvqSs+xU35rW2rfTnxbQo4H6de9TMAgtWj/wSFyMoAAAAASUVORK5CYII=);   
}
section[role="region"] > .fixed > menu[type="toolbar"] > button
{
    width: 30px;
    height: 30px;
    border: none;
    font-size: 0;
    background: transparent no-repeat 0% 0% / 3rem auto;
    padding: 0;
    border-radius: 0;
}
/* --------------------------------------------------- */
/* ANIMA PARA A DIREITA */
[data-position="right"]
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateX(100%);
	-webit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
	z-index: 20;
	z-index: 100;
}
section[role="region"][data-position="right"]{ position: absolute; }
/* ANIMA A SECTION EXIBIDA (CORRENTE) PARA A DIREITA */
[data-position="right"].current
{
	animation: rightToCurrent 0.4s forwards;
	-webkit-animation: rightToCurrent 0.4s forwards;
    -moz-animation: rightToCurrent 0.4s forwards;
    -o-animation: rightToCurrent 0.4s forwards;
}
[data-position="right"].right
{
	animation: currentToRight 0.4s forwards;
	-webkit-animation: currentToRight 0.4s forwards;
    -moz-animation: currentToRight 0.4s forwards;
    -o-animation: currentToRight 0.4s forwards;
}
/* ANIMA PARA A ESQUERDA */
[data-position="current"].left
{
	animation: currentToLeft 0.4s forwards;
	-webkit-animation: currentLeft 0.4s forwards;
    -moz-animation: currentLeft 0.4s forwards;
    -o-animation: currentLeft 0.4s forwards;
}
[data-position="current"].current
{
	animation: leftToCurrent 0.4s forwards;
	-webkit-animation: leftToCurrent 0.4s forwards;
    -moz-animation: leftToCurrent 0.4s forwards;
    -o-animation: leftToCurrent 0.4s forwards;
}
/* RETORNA A SECTION */
[data-position="back"]
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0;
}